body {
    background-color: #0066cc;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thank-box {
    background-color: white;
    color: #003366;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
